*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #fff;
}

/*-----------Header-Search-Bar-------------*/

header {
	background: rgba(0,0,0, 0.2);
	width: 100%;
	padding: 25px;
	position: fixed;	
	text-align: center;
}

.search-input {
	border-radius: 5px;
    border: 2px solid #ddd;
    width: 60%;
    padding: 10px;
    color: #A8A8A8;
    font-size: 12pt;
}

/*-----------Portfolio-Gallery-------------*/

.portfolio-wrapper  {
	max-width: 330px;
	margin: 0 auto;
	padding-top: 92px;
}

.col {
	padding: 0 15px;
}   

.square {
	margin-bottom: 25px;
}

.square img {
	width: 100%;
}


/*-------------------------------------
---------------------------------------
			Media Classes
----------------------------------------
---------------------------------------*/


@media screen and (min-width: 480px) {

	.search-input {
	    font-size: 13pt;
	}

	.portfolio-wrapper {
		max-width: 480px;
		padding-top: 94px;
	}

	.col {
	    width: 50%;
	    padding: 0 15px;
	    float: left;
	}   

	.square {
		width: 100%;
		float: left;
	}

}

@media screen and (min-width: 760px) {

	.search-input {
	    width: 480px;
	    padding: 15px;
	    font-size: 16pt;
	}
	.portfolio-wrapper  {
		max-width: 760px;
		padding-top: 108px;
	}

	.col {
	    width: 33.3%;
	    padding: 0 15px;
	}   

}

@media screen and (min-width: 960px) {

	header {
		padding: 25px;
	}

	.search-input {
	    padding: 15px;
	    font-size: 16pt;
	}

	.portfolio-wrapper  {
		max-width: 960px;
	}

	.col {
	    width: 25%;
	    padding: 0 30px;
	}   

}