*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #fff;
}

/*-----------Header-Search-Bar-------------*/

header {
	background: #fff;
	width: 100%;
	padding: 25px;
	position: fixed;	
	text-align: center;
}

.search-input {
	border-radius: 5px;
    border: 2px solid #ddd;
    width: 60%;
    padding: 10px;
    color: #A8A8A8;
    font-size: 12pt;
    outline: 0;
}

/*-----------Portfolio-Gallery-------------*/

.portfolio-wrapper  {
	max-width: 330px;
	margin: 0 auto;
	padding-top: 92px;
}

.col {
	padding: 0 15px;
}   

.square {
	margin-bottom: 35px;
	text-align: center;
}

.square img {
	width: 80%;
}

/*-----------Overlay-------------*/

#overlay,
#overlay img,
#overlay p,
#next-btn,
#prev-btn {
	position: relative;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img, #overlay p {
	width: 80%;
}

#overlay img {
  	margin-top: 50%;
  	z-index: 5; 
}

#overlay p {
  	color: #fff;
  	margin: 1em auto;
  	z-index: 4;
}

#next-btn, #prev-btn {
	background: url(../images/bg-slider-arrows.png);
	background-repeat: no-repeat;
	background-size: 100px 50px;
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	z-index: 3;
}

#next-btn {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	background-position: 0px 0px;
}

#prev-btn {
	background-position: 0px 0px;
}

#overlay-bg {
    background-color: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*-------------------------------------
---------------------------------------
			Media Classes
----------------------------------------
---------------------------------------*/


@media screen and (min-width: 480px) {

	.search-input {
	    font-size: 13pt;
	}

	.portfolio-wrapper {
		max-width: 460px;
		padding-top: 94px;
	}

	.col {
	    width: 50%;
	    padding: 0 15px;
	    float: left;
	}   

	.square {
		width: 100%;
		float: left;
	}

	.square img {
		width: 100%;
	}

	#overlay img{
		margin-top: 20%;
	}

	#overlay p {
	    color: #fff;
	    margin: 1em auto;
	    font-size: 1.125em;
    	letter-spacing: 0.03em;
	}

@media screen and (min-width: 760px) {

	.search-input {
	    width: 480px;
	    padding: 10px;
	    font-size: 16pt;
	}
	.portfolio-wrapper  {
		max-width: 760px;
		padding-top: 108px;
	}

	.col {
	    width: 33.3%;
	    padding: 0 15px;
	}

	#overlay img, #overlay p {
		width: 60%;
	}

	#overlay img {
		margin-top: 10%;
		width: 60%;  
	}   

}

@media screen and (min-width: 960px) {

	header {
		padding: 25px;
	}

	.search-input {
	    font-size: 16pt;
	}

	.portfolio-wrapper  {
		max-width: 960px;
	}

	.col {
	    width: 25%;
	    padding: 0 30px;
	}   

	#overlay img{
		margin-top: 5%;
	}

}